"*":
  editor:
    invisibles: {}
    showInvisibles: true
    softTabs: false
    fontSize: 13
    tabLength: 4
  core:
    themes: [
      "atom-dark-ui"
      "solarized-dark-syntax"
    ]
    followSymlinks: true
    disabledPackages: [
      "sublime-tabs"
    ]
  "exception-reporting":
    userId: "9519119b-1b9f-5d2a-8ba5-38875a6db863"
  welcome:
    showOnStartup: false
  linter: {}
  tabs:
    showIcons: true
